src/cv-1.0/syntax/cv-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="urn:fdc:anskaffelser.no:2019:ehf:schema:CV-1"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:fdc:anskaffelser.no:2019:ehf:schema:CV-1"
    attributeFormDefault="unqualified"
    elementFormDefault="qualified"
    version="1.0">

    <xs:element name="CV" type="CVType"/>

    <xs:complexType name="CVType">
        <xs:sequence>
            <xs:element name ="CustomizationID" type="IdentifierType"/>
            <xs:element name ="ProfileID" type="IdentifierType"/>

            <xs:element name="ID" type="xs:normalizedString"/>

            <xs:element name="IssueDate" type="xs:date" minOccurs="0"/>
            <xs:element name="IssueTime" type="xs:time" minOccurs="0"/>

            <xs:element name="FolderReference" type="ReferenceType" minOccurs="0"/>

            <xs:element name="SenderParty" type="PartyType" minOccurs="0"/>
            <xs:element name="ReceiverParty" type="PartyType" minOccurs="0"/>

            <xs:element name="PoliceCertificate" type="PoliceCertificateType" minOccurs="0"/>

            <xs:element name="Education" type="EducationType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="Course" type="CourseType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="Certification" type="CertificationType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="LanguageSkills" type="LanguageSkillsType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="ProjectExperience" type="ProjectExperienceType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="WorkExperience" type="WorkExperienceType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="Clearance" type="ClearanceType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="Reference" type="ReferenceType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="Skills" type="SkillsType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="PersonalSkills" type="PersonalSkillsType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="PersonalInformation" type="PersonalInformationType" minOccurs="0"/>

            <xs:element name="Interest" type="InterestType" minOccurs="0" maxOccurs="unbounded"/>

            <xs:element name="AdditionalInformation" type="AdditionalInformationType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PoliceCertificateType">
        <xs:sequence>
            <xs:element name="ID" type="xs:normalizedString"/>
            <xs:element name="Type" type="xs:string" minOccurs="0"/>
            <xs:element name="ValidTo" type="xs:date" minOccurs="0"/>
            <xs:element name="Documentation" type="DocumentationType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EducationType">
        <xs:sequence>
            <xs:element name="ID" type="xs:normalizedString"/>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="EducationDegree" type="xs:string" minOccurs="0"/>
            <xs:element name="SubjectArea" type="xs:string" minOccurs="0"/>
            <xs:element name="Period" type="PeriodType" minOccurs="0"/>
            <xs:element name="Documentation" type="DocumentationType" minOccurs="0"/>
            <xs:element name="Contact" type="ContactType" minOccurs="0"/>
            <xs:element name="EducationReference" type="ReferenceType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CourseType">
        <xs:sequence>
            <xs:element name="ID" type="xs:normalizedString"/>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="Type" type="xs:string" minOccurs="0"/>
            <xs:element name="Version" type="xs:decimal" minOccurs="0"/>
            <xs:element name="Period" type="PeriodType" minOccurs="0"/>
            <xs:element name="SupplierParty" type="PartyType" minOccurs="0"/>
            <xs:element name="Documentation" type="DocumentationType" minOccurs="0"/>
            <xs:element name="CourseReference" type="ReferenceType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CertificationType">
        <xs:sequence>
            <xs:element name="ID" type="xs:normalizedString"/>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="Type" type="xs:token" minOccurs="0"/>
            <xs:element name="Version" type="xs:decimal" minOccurs="0"/>
            <xs:element name="ValidTo" type="xs:date" minOccurs="0"/>
            <xs:element name="SupplierParty" type="PartyType" minOccurs="0"/>
            <xs:element name="Documentation" type="DocumentationType" minOccurs="0"/>
            <xs:element name="CertificationReference" type="ReferenceType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LanguageSkillsType">
        <xs:sequence>
            <xs:element name="ID" type="xs:normalizedString"/>
            <xs:element name="Language" type="xs:string" minOccurs="0"/>
            <xs:element name="Scandinavian" type="xs:boolean" minOccurs="0"/>
            <xs:element name="OralSkill" type="xs:string" minOccurs="0"/>
            <xs:element name="WrittenSkill" type="xs:string" minOccurs="0"/>
            <xs:element name="Contact" type="ContactType" minOccurs="0"/>
            <xs:element name="LanguageSkillsReference" type="ReferenceType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProjectExperienceType">
        <xs:sequence>
            <xs:element name="ID" type="xs:normalizedString"/>
            <xs:element name="ExperienceType" type="xs:string" minOccurs="0"/>
            <xs:element name="IndustryType" type="xs:string" minOccurs="0"/>
            <xs:element name="Workplace" type="xs:string" minOccurs="0"/>
            <xs:element name="JobSector" type="xs:string" minOccurs="0"/> <!-- Skal vi ta dette med? -->
            <xs:element name="CompanyParty" type="PartyType" minOccurs="0"/> <!-- Navn og endpointID -->
            <xs:element name="Period" type="PeriodType" minOccurs="0"/>
            <xs:element name="ExperienceDescription" type="ExperienceDescriptionType" minOccurs="0"/>
            <xs:element name="ExperienceValue" type="ExperienceValueType" minOccurs="0"/>
            <xs:element name="Contact" type="ContactType" minOccurs="0"/>
            <xs:element name="EducationReference" type="ReferenceType" minOccurs="0"/> <!--  Finn et nytt passende navn -->
            <xs:element name="ProjectExperienceReference" type="ReferenceType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="WorkExperienceType">
        <xs:sequence>
            <xs:element name="ID" type="xs:normalizedString"/>
            <xs:element name="PositionLevel" type="xs:string" minOccurs="0"/>
            <xs:element name="IndustryType" type="xs:string" minOccurs="0"/>
            <xs:element name="Workplace" type="xs:string" minOccurs="0"/>
            <xs:element name="JobSector" type="xs:string" minOccurs="0"/> <!-- Skal vi ta dette med? -->
            <xs:element name="CompanyParty" type="PartyType" minOccurs="0"/> <!-- Navn og endpointID -->
            <xs:element name="Period" type="PeriodType" minOccurs="0"/>
            <xs:element name="WorkExperienceDescription" type="ExperienceDescriptionType" minOccurs="0"/>
            <xs:element name="Contact" type="ContactType" minOccurs="0"/>
            <xs:element name="EducationReference" type="ReferenceType" minOccurs="0"/> <!--  Finn et nytt passende navn -->
            <xs:element name="WorkExperienceReference" type="ReferenceType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ClearanceType">
        <xs:sequence>
            <xs:element name="ID" type="xs:normalizedString"/>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="Type" type="xs:string" minOccurs="0"/>
            <xs:element name="Level" type="xs:string" minOccurs="0"/>
            <xs:element name="ExpirationDate" type="xs:date" minOccurs="0"/>
            <xs:element name="Documentation" type="DocumentationType" minOccurs="0"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="ClearanceReference" type="ReferenceType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReferenceType">
        <xs:sequence>
            <xs:element name="ID" type="IdentifierType"/>
            <xs:element name="Party" type="PartyType" minOccurs="0"/> <!-- Navn og endpointID -->
            <xs:element name="Relationship" type="xs:string" minOccurs="0"/>
            <xs:element name="Contact" type="ContactType" minOccurs="0"/>
            <xs:element name="RequestReference" type="ReferenceType" minOccurs="0"/> <!-- Finn et nytt passende navn -->
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SkillsType">
        <xs:sequence>
            <xs:element name="ID" type="xs:normalizedString"/>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="Type" type="xs:string" minOccurs="0"/>
            <xs:element name="Version" type="xs:decimal" minOccurs="0"/>
            <xs:element name="LastPractice" type="xs:date" minOccurs="0"/>
            <xs:element name="MinimumLengthPractice" type="UomType" minOccurs="0"/>
            <xs:element name="Contact" type="ContactType" minOccurs="0"/>
            <xs:element name="SkillsAppliedReference" type="ReferenceType" minOccurs="0"/>
            <xs:element name="SkillsReference" type="ReferenceType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PersonalSkillsType">
        <xs:sequence>
            <xs:element name="ID" type="xs:normalizedString"/>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="Type" type="xs:string" minOccurs="0"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="Contact" type="ContactType" minOccurs="0"/>
            <xs:element name="PersonalSkillsReference" type="ReferenceType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PersonalInformationType">
        <xs:sequence>
            <xs:element name="ID" type="xs:normalizedString"/>
            <xs:element name="Name" type="xs:string"/>
            <xs:element name="DateOfBirth" type="xs:date"/>
            <xs:element name="PostalAddress" type="PostalAdressType"/>
            <xs:element name="Contact" type="ContactType" minOccurs="0"/>
            <xs:element name="SocialMedia" type="SocialMediaType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SocialMediaType">
        <xs:sequence>
            <xs:element name="ID" type="xs:normalizedString"/>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="Type" type="xs:string" minOccurs="0"/>
            <xs:element name="Documentation" type="DocumentationType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InterestType">
        <xs:sequence>
            <xs:element name="ID" type="IdentifierType" minOccurs="0"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AdditionalInformationType">
        <xs:sequence>
            <xs:element name="ID" type="IdentifierType" minOccurs="0"/>
            <xs:element name="Title" type="xs:string" minOccurs="0"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="Documentation" type="DocumentationType" minOccurs="0" maxOccurs="unbounded"/> <!-- se på igjen. Skal det være embedded istedet? -->
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IdentifierType">
        <xs:simpleContent>
            <xs:extension base="xs:normalizedString">
                <xs:attribute name="schemeID" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="PartyType">
        <xs:sequence>
            <xs:element name="EndpointID" type="IdentifierType" minOccurs="0"/>
            <xs:element name="Name" type="xs:string" minOccurs="0"/>
            <xs:element name="Contact" type="ContactType" minOccurs="0"/>
            <xs:element name="CountryCode" type="xs:normalizedString" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ContactType">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="0"/>
            <xs:element name="Role" type="xs:string" minOccurs="0"/>
            <xs:element name="Telephone" type="xs:string" minOccurs="0"/>
            <xs:element name="ElectronicMail" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DocumentationType">
        <xs:sequence>
            <xs:element name="RegistrationType" type="xs:string" minOccurs="0"/>
            <xs:element name="RegistrationNumber" type="xs:integer" minOccurs="0"/>
            <xs:element name="EmbeddedDocumentBinaryObject" type="EmbeddedDocumentBinaryObjectType" minOccurs="0"/> <!-- Embedded Document -->
            <xs:element name="CandidateNumber" type="xs:integer" minOccurs="0"/>
            <xs:element name="URI" type="xs:normalizedString" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EmbeddedDocumentBinaryObjectType">
        <xs:simpleContent>
            <xs:extension base="xs:normalizedString">
                <xs:attribute name="mimeCode" type="xs:normalizedString"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="PeriodType">
        <xs:sequence>
            <xs:element name="StartDate" type="xs:date" minOccurs="0"/>
            <xs:element name="EndDate" type="xs:date" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExperienceDescriptionType">
        <xs:sequence>
            <xs:element name="PositionPercent" type="xs:integer" minOccurs="0"/>
            <xs:element name="Role" type="xs:string" minOccurs="0"/>
            <xs:element name="Activities" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ExperienceValueType">
        <xs:sequence>
            <xs:element name="ProjectParticipation" type="UomType" minOccurs="0"/>
            <xs:element name="ProjectSize" type="UomType" minOccurs="0"/>
            <xs:element name="ProjectValue" type="ValueType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="UomType">
        <xs:simpleContent>
            <xs:extension base="xs:integer">
                <xs:attribute name="unitOfMeasure" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:complexType name="ValueType">
        <xs:simpleContent>
            <xs:extension base="xs:normalizedString">
                <xs:attribute name="currencyID" type="xs:normalizedString"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="PostalAdressType">
        <xs:sequence>
            <xs:element name="StreetName" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="AdditionalStreetName" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="CityName" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="PostalZone" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="CountryCode" type="xs:normalizedString" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
